@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");


* {
  font-family: "NanumSquare", sans-serif !important;
  word-break: keep-all;
  white-space: pre-line;
}

body {
  margin: 0;
  padding: 0;
}
